.header {
  background-image: url("../../images/bg.jpg");
  margin: 5px;
  min-height: 800px;
  background-size: cover;
  border-radius: 1.2%/ 1.2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
