.nav__list {
  display: flex;
  gap: 20px;
  > li {
    border-radius: 50%/ 100%;
    padding: 15px 20px;
    transition: background-color 0.5s ease;
    > a {
      color: white;
    }

    &:hover {
      background-color: white;
      > a {
        color: black;
      }
    }
  }
}
