.top__tours-cards-management {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}
.progress_bar_current {
  width: 0;
  height: 100%;
  padding: 0;
  background-color: $dark;
  border-radius: 5%/200%;
  transition: width 0.4s ease;
}
.card-number {
  display: flex;
  color: $gray;
  > p {
    color: $dark;
  }
}

.top__tours-cards {
  display: flex;
  position: relative;
  margin-top: 30px;
  gap: 20px;
  font-size: 24px;
  align-items: flex-start;
  height: 650px;
  @include tablet {
    gap: 10px;
    height: 500px;
  }
}
.description {
  color: $gray;
  font-size: 20px;
}
.top__tours-card {
  flex: 0 0 auto;
  padding: 0;
  justify-items: center;
  > img {
    width: 360px;
    height: 390px;
    object-fit: cover;
    border-radius: 4%;
    @include tablet {
      width: 250px;
      height: 270px;
    }
  }
  @include tablet {
    flex: 0 0 auto;
    width: 250px;
    height: 500px;
    overflow-y: hidden;
  }
}
.top__tours-card:first-child {
  position: absolute;
  left: -370px;
  @include tablet {
    left: -260px;
  }
}

.cardDescriptionContainer {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  font-size: 12px;
  justify-items: center;
  padding-top: 10px;
  > p {
    color: $gray;
    width: 350px;
    @include tablet {
      width: 270px;
    }
  }
  > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;

    > button {
      background-color: $dark;
      color: $white;
      padding: 12px 15px 12px 15px;
      border-radius: 25%/60%;
      > a {
        color: $white;
      }
    }
    > p {
      border: 1px solid $gray;
      border-radius: 25%/60%;
      margin: 5px;
      padding: 12px 15px 12px 15px;
    }
  }
}
