// colors variables
$white: #fff;
$dark: #000;
$gray: #787070;
$dark-gray: #202020;
$light-gray: #d1cbcb;
$gray-gradient: #5f5e5e;
$opacity-color: #ffffff00;

// media var
$max-width: (max-width 1250px);
